.card-container {
  box-shadow: -2px 3px 14px -10px rgba(0, 0, 0, 0.59);
  // border-radius: 8px;
  border-radius: 10px;

  .ant-card-bordered {
    // border-radius: 10px;
    border: 0;
    border-radius: 10px;
  }
  .ant-card-body {
    padding: 0;
    border-radius: 10px;
  }
  .card-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    // background: aliceblue;
    cursor: pointer;

    img {
      width: 300px;
      height: 300px;
      border-radius: 10px 10px 0 0;
    }
    .details {
      width: 100%;
      padding: 20px;
      background: aliceblue;
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;
      //   flex-direction: column;
      border-radius: 0px 0px 10px 10px;
      p {
        margin: 0;
        font-weight: normal;
        color: #555;
        text-transform: capitalize;
      }
    }
  }
}
